[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart={{k8s_bin_dir}}/kube-controller-manager \
  --address={{k8s_controller_manager_address}} \
  --cluster-cidr={{k8s_controller_manager_cluster_cidr}} \
  --cluster-name={{k8s_controller_manager_cluser_name}} \
  --cluster-signing-cert-file={{k8s_controller_manager_conf_dir}}/ca-k8s-apiserver.pem \
  --cluster-signing-key-file={{k8s_controller_manager_conf_dir}}/cert-k8s-apiserver-key.pem \
  --leader-elect={{k8s_controller_manager_leader_elect}} \
  --master=http://{{k8s_apiserver_insecure_bind_address}}:8080 \
  --root-ca-file={{k8s_controller_manager_conf_dir}}/ca-k8s-apiserver.pem \
  --cluster-signing-cert-file={{k8s_controller_manager_conf_dir}}/ca-k8s-apiserver.pem \
  --service-account-private-key-file={{k8s_controller_manager_conf_dir}}/cert-k8s-apiserver-key.pem \
  --service-cluster-ip-range={{k8s_controller_manager_service_cluster_ip_range}} \
  --node-monitor-period={{k8s_controller_manager_node_monitor_period}} \
  --node-monitor-grace-period={{k8s_controller_manager_node_grace_period}} \
  --pod-eviction-timeout={{k8s_controller_manager_pod_eviction_timeout}} \
{% if k8s_cloud_provider is defined and k8s_cloud_provider != '' %}
  --cloud-provider={{k8s_cloud_provider}} \
{% endif %}
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
